node_modules
vendor

cypress/videos
cypress/screenshots

playwright-report
test-results
.playwright

cypress.config.js
.wp-env.override.json

.phpunit.result.cache
.vscode/launch.json
.vscode/settings.json
.idea/

opencode.json
composer.phar
.DS_Store
